{
    "printWidth": 100,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 2,
    "semi": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "tailwindConfig": "./front/tailwind.config.js",
    "endOfLine": "auto",
    "importOrder": ["^(react/(.*)$)|^(react$)", "<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
